:root {
  /* color */
  --color-pink: #ffcbc0;
  --color-dark-pink: #cb9a90;
  --color-white: #fffef3;
  --color-light-yellow: #ffffe8;
  --color-yellow: #fff6b5;
  --color-dark-yellow: #f4d179;
  --color-black: #3f3f3f;
  --color-grey: #9a9894;
  --color-semi-grey: #7d7d7d;
  --color-semi-light-grey: #9b9b9b;
  --color-light-gray: #e8e6dc;
  --color-blue: #4c88d2;

  /* size */
  --font-big: 46px;
  --font-small: 22px;
  --font-tiny: 15px;

  /* weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* border size */
  --border-size: 4px;

  /* animation */
  --animation-duration: 250ms;
}

* {
  font-family: 'Dongle', sans-serif;
  box-sizing: border-box;
  color: var(--color-black);
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--color-pink);
  margin: 0cm;
}

.container {
  width: 360px;
  height: 640px;
  background-color: var(--color-light-yellow);
  margin: auto;
  text-align: center;
  margin-top: 120px;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 8px 10px 28px -2px rgba(0, 0, 0, 0.42);
  box-shadow: 8px 10px 28px -2px rgba(0, 0, 0, 0.42);
}

/* header */
.header {
  background-color: var(--color-yellow);
  padding-bottom: 15px;
  padding-top: 15px;
  height: 15%;
  border-radius: 20px 20px 0 0;
}
.header__front {
  font-size: var(--font-small);
  font-style: italic;
  position: relative;
  left: -85px;
  top: 5px;
  color: var(--color-grey);
}
.header__back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-big);
  font-weight: var(--weight-bold);
  position: relative;
  top: -20px;
}
.fa-basket-shopping {
  margin: 0 10px;
  font-size: 30px;
  color: var(--color-dark-yellow);
  position: relative;
  top: -5px;
}

/* main */
.main {
  width: 100%;
  height: 70%;
  overflow: auto;
  scroll-behavior: smooth;
}
.main::-webkit-scrollbar {
  display: none;
}
.itemlist {
  padding: 0 15px;
}
.item {
  background-color: var(--color-light-gray);
  border-radius: var(--border-size);
  border: 1.5px solid var(--color-semi-light-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 3px 10px;
}

.main__left {
  width: 90%;
}
.fa-location-dot {
  color: var(--color-blue);
  font-size: 12px;
  position: relative;
  top: -2px;
}
.place {
  color: var(--color-blue);
  display: flex;
  align-items: center;
  margin-left: 5px;
  font-size: 18px;
  position: relative;
  top: 10px;
}
.fa-location-dot {
  margin-right: 5px;
}
.item__desc {
  display: flex;
}
.desc__name {
  width: 70%;
  display: flex;
  align-items: flex-start;
  padding-left: 5px;
  cursor: pointer;
  font-size: var(--font-small);
}
.desc__price {
  width: 30%;
  display: flex;
  align-items: center;
}
.fa-won-sign,
.price__number {
  color: var(--color-semi-light-grey);
  font-size: var(--font-small);
}
.fa-won-sign {
  font-size: 12px;
  margin-right: 5px;
  position: relative;
  left: 2px;
  top: -1.5px;
}
.fa-trash-can {
  width: 10%;
  cursor: pointer;
  transition: all var(--animation-duration) ease;
}
.fa-trash-can:hover,
.fa-square-plus:hover {
  transform: scale(1.1);
}

.checkbox {
  margin: 0 8px;
  background-color: var(--color-white);
}
/* footer */
.footer {
  background-color: var(--color-yellow);
  padding: 15px;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 20px 20px;
}
.fa-square-plus {
  font-size: var(--font-big);
  color: var(--color-dark-yellow);
  cursor: pointer;
  transition: all var(--animation-duration) ease;
}
.footer__left {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10px;
}
.footer__item {
  display: flex;
  margin-bottom: 10px;
}
.footer__itemPlace,
.footer__itemPrice,
.footer__itemName {
  width: 100%;
  padding-left: 10px;
  border: none;
  border-radius: var(--border-size);
  outline-style: dashed;
  outline-color: var(--color-dark-yellow);
  outline-width: 1px;
  font-size: 20px;
  caret-color: var(--color-dark-pink);
}
.footer__itemPlace {
  margin-right: 10px;
}
